<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
      <tab id="rtrackorder" translate="label" sortOrder="250">
         <label>RIVERSTONE</label>
      </tab>
      <section id="track_order_section" showInDefault="1">
         <tab>rtrackorder</tab>
         <label>Track Order</label>
         <resource>Riverstone_TrackOrder::config_extension</resource>
         <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
               <label>Enable</label>
               <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="dynamic_field" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>Track Information</label>
               <backend_model>Riverstone\TrackOrder\Block\Adminhtml\Config\Backend\ArraySerialized</backend_model>
               <frontend_model>Riverstone\TrackOrder\Block\Adminhtml\DynamicFieldData</frontend_model>
               <comment>Note: Replace your API URL Tracking Number with the variable {trackingnumber}.</comment>
            </field>
         </group>
      </section>
   </system>
</config>